name: Build Client RSS

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Check out git repository
        uses: actions/checkout@v3.0.0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build the renderer application
        run: bun build:renderer

      - name: Build the main application
        run: bun build:main

      - name: upload artifacts
        uses: actions/upload-artifact@v3.0.0
        with:
          path: dist

      - name: release
        uses: softprops/action-gh-release@v0.1.14
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: 'dist/**'
